<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
				<string>fold</string>
				<string>disk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hkdb</string>
				<string>itl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-database.icns</string>
			<key>CFBundleTypeName</key>
			<string>iTunes Database File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>hkdb</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hplg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-device.icns</string>
			<key>CFBundleTypeName</key>
			<string>iTunes Device Plugin</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>hplg</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hvpl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-visual.icns</string>
			<key>CFBundleTypeName</key>
			<string>iTunes Visual Plugin</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>hvpl</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-mp3.icns</string>
			<key>CFBundleTypeName</key>
			<string>Playable Audio File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PLAY</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m3u</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-playlist.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mpegurl</string>
				<string>audio/x-mpegurl</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Internet Audio Playlist</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MP3U</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pls</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-playlist.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/scpls</string>
				<string>audio/x-scpls</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Internet Audio Playlist</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PLS </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rmp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-playlist.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.rn-rn_music_package</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Internet Audio Playlist</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RMP </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-mp3.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mpeg</string>
				<string>audio/x-mpeg</string>
				<string>audio/mpeg3</string>
				<string>audio/x-mpeg3</string>
				<string>audio/mpg</string>
				<string>audio/x-mpg</string>
				<string>audio/mp3</string>
				<string>audio/x-mp3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MP3 Audio File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mp3!</string>
				<string>MP3!</string>
				<string>MPG3</string>
				<string>mpg3</string>
				<string>Mp3 </string>
				<string>MP3 </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-mp2.icns</string>
			<key>CFBundleTypeName</key>
			<string>MP2 Audio File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MPG2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aif</string>
				<string>aiff</string>
				<string>aifc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-aiff.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/aiff</string>
				<string>audio/x-aiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AIFF Audio File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIFF</string>
				<string>AIFC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
				<string>wave</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-wav.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/wav</string>
				<string>audio/x-wav</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WAVE Audio File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>WAVE</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpg</string>
				<string>mpga</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-mpg.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MPEG</string>
				<string>MPGA</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-sd2.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-sd2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Sound Designer 2 File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Sd2f</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nvf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-nvf.icns</string>
			<key>CFBundleTypeName</key>
			<string>NVF Audio File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>NVF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-movie.icns</string>
			<key>CFBundleTypeName</key>
			<string>Movie File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MooV</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-eq.icns</string>
			<key>CFBundleTypeName</key>
			<string>Equalizer Settings</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>eqps</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cdda</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-cd.icns</string>
			<key>CFBundleTypeName</key>
			<string>CD Track</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIFC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aa</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-audible.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/audible</string>
				<string>audio/x-audible</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audible Audio File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AUDB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-mpeg4.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/m4a</string>
				<string>audio/x-m4a</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG-4 Audio File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>M4A </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-mpeg4.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/m4v</string>
				<string>video/x-m4v</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG-4 Video File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>M4V </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4p</string>
				<string>m4b</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-mpeg4p.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/m4p</string>
				<string>audio/x-m4p</string>
				<string>audio/m4b</string>
				<string>audio/x-m4b</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG-4 Audio File (Protected)</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>M4P </string>
				<string>M4B </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>itms</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-itms.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-itunes-itms</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>iTunes Music Store URL</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>itms</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pcast</string>
				<string>itpc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-generic.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-podcast</string>
				<string>application/x-itunes-podcast</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Podcast Subscription File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pcst</string>
				<string>itpc</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ipg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-ipg.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-itunes-ipg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>iPod Game File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ipg </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ipsw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTunes-ipsw.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-itunes-ipsw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>iPod Software Update File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ipsw</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>iTunes</string>
	<key>CFBundleGetInfoString</key>
	<string>iTunes 7.3.1, © 2000-2007 Apple Inc. All Rights Reserved.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>iTunes Help</string>
	<key>CFBundleHelpBookName</key>
	<string>iTunes Help</string>
	<key>CFBundleIconFile</key>
	<string>iTunes.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iTunes</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iTunes</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>7.3.1</string>
	<key>CFBundleSignature</key>
	<string>hook</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>iTunes Remote Library URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>daap</string>
			</array>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>iTunes Music Store URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>itms</string>
				<string>itmss</string>
			</array>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>iTunes Podcast URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pcast</string>
				<string>itpc</string>
			</array>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>7.3.1</string>
	<key>CSResourcesFileMapped</key>
	<false></false>
	<key>HIWindowFlushAtFullRefreshRate</key>
	<true></true>
	<key>LSMinimumSystemVersion</key>
	<string>10.3.9</string>
	<key>LSRequiresCarbon</key>
	<true></true>
	<key>LSRequiresNativeExecution</key>
	<true></true>
	<key>NSAppleScriptEnabled</key>
	<true></true>
	<key>QuartzGLEnable</key>
	<false></false>
	<key>DummyInteger</key><integer>42</integer>
	</dict>
</plist>
