<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MPWFoundation (Framework).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>MPWFoundation (Linux Cocotron).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>MPWFoundation (Linux Cocotron).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>MPWFoundation (Windows Cocotron).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>MPWFoundation (Windows Cocotron).xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>MPWFoundationFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MPWFoundationTouch copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>122</integer>
		</dict>
		<key>MPWFoundationTouch.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MPWFoundationTouch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MPWFoundationTouchFat.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>MPWFoundationUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MPWFoundationUIKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>ObjectiveSSH.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SteamQLite.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>124</integer>
		</dict>
		<key>StreamQLite.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
		<key>TestMPWFoundation.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>show-build-dir.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>show-build-dir.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F008F5A10BDAC18001F05D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F0092262495256400841C30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F3AC607143EB3D9009B8504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F4FC66810F7F6AC00376799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F4FC9721DF818AE00B35D27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F4FC98A1DF818AF00B35D27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F7045AE22313082005ED7FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F840DA4193F505700589595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F840DAE193F505700589595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F93B8FC284DE20D00455231</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FA5B7D51172CD28001628B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FCDE1201253A9640002D17A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FCF25D31CF3983B00AC64CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FF8FDB309B49D0100652476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
