(
	MPWASCII85Stream,
	"MPWAbstractFileTarget",
	MPWAbstractStore,
	"MPWActionStreamAdapter",
	"MPWArrayFlattenStream",
	MPWBinaryPListWriter,
	MPWBinaryPlist,
	MPWReference,
	MPWBlockBoxer,
	MPWBlockInvocable,
	"MPWBlockInvocableTest",
	MPWBlockInvocation,
	MPWBlockTargetStream,
	MPWBoxerUnboxer,
	MPWBundleTesting,
	MPWByteStream,
	MPWCachingStore,
	MPWCachingStoreTests,
	"MPWCaseInsensitiveSmallStringTable",
	MPWCombinerStream,
	MPWCompositeStore,
	"MPWConvertFromJSONStream",
	MPWDelayStream,
	MPWDelimitedTable,
	MPWDictStore,
	"MPWDirectForwardingTrampoline",
	MPWDiskStore,
	MPWEnumFilters,
	MPWEnumSelectFilter,
	MPWEnumeratorBase,
	MPWEnumeratorSource,
	MPWFDStreamSource,
	"MPWFakedReturnMethodSignature",
	MPWFastInvocation,
	"MPWFileDescriptorTarget",
	MPWFileTarget,
	MPWFilter,
	MPWFilterStream,
	MPWFlattenStream,
	MPWFloat,
	MPWForwardingTarget,
	MPWFuture,
	MPWFutureTesting,
	MPWGenericIdentifier,
	"MPWIdentityDictionary",
	"MPWIgnoreUnknownTrampolineTesting",
	MPWIntArray,
	MPWInteger,
	MPWJSONWriter,
	MPWKVCSoftPointer,
	MPWLazyBListArray,
	MPWLoggingStore,
	MPWMapFilter,
	MPWMappingStore,
	MPWMergingStore,
	MPWMessageCatcher,
	"MPWMessageCatcherTesting",
	MPWNSPointBoxer,
	MPWNSRectBoxer,
	MPWNamedData,
	MPWNeXTPListWriter,
	"MPWNotificationProtocolTests",
	MPWEventWriter,
	"MPWNotificationStreamTester",
	MPWNullTarget,
	MPWNumber,
	MPWObject,
	MPWObjectCache,
	"MPWObjectCreatorStream",
	MPWObjectReference,
	MPWPListBuilder,
	MPWPathRelativeStore,
	MPWPipeline,
	MPWPoint,
	MPWQueue,
	MPWRESTCopyStream,
	MPWRESTOperation,
	MPWRealArray,
	MPWRect,
	MPWReference,
	MPWReferenceTests,
	MPWRusage,
	MPWScanner,
	MPWScatterStream,
	MPWSequentialStore,
	MPWSmallStringTable,
	MPWSocketStream,
	MPWSoftPointerProxy,
	"MPWStackSaverInvocation",
	MPWStdioTarget,
	"MPWStreamCompositionTests",
	MPWStreamSource,
	"MPWStringExtensionTesting",
	MPWSubData,
	MPWSwitchingStore,
	"MPWThreadSwitchStream",
	MPWTrampoline,
	MPWURLBasedStore,
	MPWURLCall,
	"MPWURLCall2StoreStream",
	MPWURLFetchStream,
	MPWURI,
	MPWURITests,
	"MPWURLStreamingFetchHelper",
	"MPWURLStreamingStream",
	MPWUShortArray,
	MPWPropertyBinding,
	MPWWriteBackCache,
	MPWWriteStream,
	MPWWriteThroughCache,
	"NSArrayFilteringTesting",
	NSNil,
	"NSObjectInstanceSizeTesting",
	"NSObjectIvarAcccessTesting",
	"NSStringAdditionsTesting",
	NSThreadWaitingTests,
	SuperchainTester1,
	SuperchainTester2,
	SuperchainTester3,
)